<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <div class="container">
                <h4>
                    Data Added Successfully
                </h4>
                <p>To check all data please open this <a href="/details">link</a></p>
            </div>


            </div>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>